---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "webfont";
@import  "mailchimp";

// Typography
$base-font-family: "Lelo-Regular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$base-font-weight: 400;
$heading-font-family: "Lelo-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$heading-font-weight: 700;

$base-font-color:  #111;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: 1px;
  color: $base-font-color;
  background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.page {
  min-height: 100%;
  margin-bottom: -340px;
}
.footer,
.push {
  height: 340px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.strong {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1, .h1, .large {
  font-size: 2rem;
}

@media (max-width: 40em){
  h1, .h1, .large {
  font-size: 1rem;
  }
}


h2, .h2,
h3, .h3,
h4, .h4 {
  font-size: 1rem;
}

h5, .h5,
h6, .h6,
.small {
  font-size: .75rem;
}

p,
dl,
ol,
ul,
pre,
blockquote,
hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-bottom: 1px solid;
}

a {
  transition: color .4s;
  text-decoration: none;
  color: #111;
  font-family: $heading-font-family;
}
a.site-title {
  text-decoration: none;
  border: none;
}
a:hover   {
  color: #0000EE;
  border-bottom: 3px solid #0000EE;
}
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.page
{
  max-width: 60rem;
}


