<footer class="site-footer">

  {% if page.url == "/" %}
  {% elsif page.url == "/about" %}
  {% endif %}

  

  <div class="wrapper large">
    <a href="#top">&uarr; Top</a></br>
    </br>
    <h2 class="h1 mb0">Connect & Collaborate</h2>
    <div>Add: <a href="https://www.linkedin.com/in/johannes-elias-lohbihler" target="_blank">LinkedIn</a></div>
    <div>Call: <a href="tel:+493055571672" class="tel">+49 30 55 57 16 72</a></div>
    <div>Follow: <a href="https://www.instagram.com/lohbihler/" target="_blank">@lohbihler</a></div>
    <div>Write: <a class="email" href="mailto:&#x6d;&#x61;&#x69;&#x6c;&#x40;&#x6c;&#x6f;&#x68;&#x62;&#x69;&#x68;&#x6c;&#x65;&#x72;&#x2e;&#x63;&#x6f;&#x6d;" target="_blank">&#x6d;&#x61;&#x69;&#x6c;&#x40;&#x6c;&#x6f;&#x68;&#x62;&#x69;&#x68;&#x6c;&#x65;&#x72;&#x2e;&#x63;&#x6f;&#x6d;</a></div>
  </div>

  <ul class="list-reset mt4 mb4">
    <li class="inline-block">&copy; 1983-2020 Johannes Elias Lohbihler</li> 
    <li class="inline-block"><a class="imprint" href="/imprint">Imprint</a></li> 
  </ul>

</footer>
