@font-face {
  font-family: 'Neue Haas Unica W1G Bold';
  src: url('/fonts/NeueHaasUnicaW1G-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/NeueHaasUnicaW1G-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/NeueHaasUnicaW1G-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/NeueHaasUnicaW1G-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/NeueHaasUnicaW1G-Bold.svg#684db51384b8d74cdadbb18fdbc9cf89') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Regular';
  src: url('/fonts/NeueHaasUnicaW1G-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/NeueHaasUnicaW1G-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/NeueHaasUnicaW1G-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/NeueHaasUnicaW1G-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/NeueHaasUnicaW1G-Regular.svg#620a82e875e64c00a49cf19f0ef7c9bf') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Lelo-Bold';
  src: url('/fonts/Lelo-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lelo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lelo-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lelo-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Lelo-Regular';
  src: url('/fonts/Lelo-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lelo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lelo-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lelo-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  400;
}
